h6{
    font-size: 10px;
    color: #f6f6f6;
    margin: 0;
    a{
        color: white;
    }
}
.blue{
    color: #107ec2;
    a{
        color: #107ec2;
    }
}
.white{
    color: #f6f6f6;
    a{
        color: white;
    }
}