<div class="body">
    <div class="container-fluid">
        <div class="accueil_panel">
            <img src="../../assets/images/Saint Jean ingenieur.png" alt="IUSJC Logo">
            <div class="redirect row"> 
                <div routerLink="/formulaire" class="student_redirect col-12 col-md-6">
                    <div class="redirect_button_background">
                        <h4>Ouvrir un formulaire</h4>
                    </div>
                </div>
                <div class="admin_redirect col-12 col-md-6">
                    <div class="redirect_button_background">
                    <h4>Se Connecter</h4>
                </div>
                </div>
            </div>
            
        </div>
    <footer color="white" ></footer>
    </div>
</div>
